.skills {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.skills h3{
 text-decoration: underline;
  margin: 1rem 0;
  padding: 0 1rem;
}

.hard-skills{
  margin-bottom: 1rem;
}

.hard-skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1rem 0;
  list-style: none;
}

.hard-skills img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: .5rem;
  padding: .5rem;
  padding: auto;
  width: 6rem;
  height: 6rem;
}

.soft-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.soft-skills ul{
  padding: 0;
}

.soft-skills ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.soft-skills li::before {
    content: "";
    display: inline-block;
    background-image: url('/assets/img/icons/chech.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1rem;
    height: 1rem;
    margin: .3rem .5rem .2rem .5rem;
}


@media only screen and (min-width:768px) {
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr; 
  }

  .skills h3 {
    margin-left: 3rem;
  }

  .hard-skills {
    width: 90%;
  }

  .hard-skills ul {
    display: flex;
    margin-left: 3rem;
  }

  .hard-skills img {
    width: 6rem;
    height: 6rem;
    transition: .5s;
  }

  .hard-skills img:hover {
    width: 6.5rem;
    height: 6.5rem;
  }



  .soft-skills {
    width: 90%; 
  }

  .soft-skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3rem;
  }

}